.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.input {
    margin-bottom: 15px;
}

.error_message {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #eac5c5;
}