*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

h1,
h2,
h3 {
    margin-bottom: 0;
    color: #3b3b3b;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    padding: 10px 15px;
}

button,
input {
    overflow: visible;
}

p {
    margin: 0;
}