@use "/src/styles/variables";

.container {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #4d4d4d;
    text-decoration: none;
}

.container:hover {
    .title {
        text-decoration: underline;
    }

    background-color: #e0e0e0;
    cursor: pointer;
}

.container.beige_theme {
    box-shadow: 0 2px 20px 1px rgb(0 0 0 / 10%);
}

.container.beige_theme:hover {
    background-color: #fff;
    box-shadow: 0 5px 20px 3px rgb(0 0 0 / 20%);
}

.image_wrapper {
    height: 300px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    margin: 15px 0;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.description {
    margin-top: 5px;
    font-size: 1.4rem;
    text-align: center;
}