@use "/src/styles/variables";

.header {
    background-color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    height: #{variables.$header};
    margin: 0 auto;
    padding: 20px;
}

.logo {
    font-family: 'Noto Serif TC', serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: #3b3b3b;
}

.btn {
    margin-left: 10px;
}

.btn:first-child {
    margin-left: 0;
}