.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo {
    font-family: 'Noto Serif TC', serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #3b3b3b;
}

.btn {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #612400;
}

.btn:hover {
    color: #fff;
    background-color: #612400;
    transition: 0.1s ease;
}

.btn:last-child {
    margin-left: 10px;
}